<%= form_for(@user_device) do |f| %>
  <% if @user_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_device.errors.count, "error") %> prohibited this user_device from being saved:</h2>

      <ul>
      <% @user_device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :login) %>
  </div>
  <div class="field">
    <%= f.label :device_id%><br>
    <%= f.select :device_id, options_from_collection_for_select(Device.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
