<h1>Listing ownerships</h1>

<table>
  <thead>
    <tr>
      <th>User email</th>
      <th>Device name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ownerships.each do |ownership| %>
      <tr>
        <td><%= ownership.user_email %></td>
        <td><%= ownership.device_name %></td>
        <td><%= link_to 'Show', ownership %></td>
        <td><%= link_to 'Edit', edit_ownership_path(ownership) %></td>
        <td><%= link_to 'Destroy', ownership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ownership', new_ownership_path %>
