<p id="notice"><%= notice %></p>

<p>
  <strong>User email:</strong>
  <%= @ownership.user_email %>
</p>

<p>
  <strong>Device name:</strong>
  <%= @ownership.device_name %>
</p>

<%= link_to 'Edit', edit_ownership_path(@ownership) %> |
<%= link_to 'Manage Devices', '/devices' %> |
<%= link_to 'Manage Ownerships', '/users' %> |
<%= link_to 'Back', ownerships_path %>
